{% extends 'base.html.twig' %}


{% block body %}
    <header>
        <figure class="circle"></figure>

        <div class="container">
            <h1>opatou.com</h1>
            <h4>{{ 'Great tools for awesome Agile Coaches'|upper }}</h4>
        </div>
    </header>
    <div id="homepage_intro" class="container">
        <div class="row justify-content-center">
            <div class="col-6 ">
                <div class="row">
                    <div class="col-4 align-self-center">
                        <img src="{{ asset('OlivierPatou_LinkedIn.jpeg') }}" class="img-fluid rounded-circle mx-auto d-block">
                    </div>
                    <div class="col-8">
                        <p>Bonjour et bienvenue sur ce site !</p>
                        <p>
                            En tant que Coach agile, j'accompagne et forme les équipes et les organisations dans leur transformation agile.
                        </p>
                        <p>
                            J'enseigne également aurpès des étudiants de l'ESD Bordeaux (Ecole Supérieur du Digital).</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur dui at nunc suscipit, dignissim aliquet nibh cursus. Donec pulvinar ac magna at posuere.
                Vestibulum at tellus convallis, sodales dolor sit amet, volutpat odio. Nunc id dolor ac velit scelerisque tempor quis at ligula. Fusce consequat consectetur
                maximus. Aliquam erat volutpat. Aenean vel leo sit amet nisl vulputate commodo a vel eros. Praesent luctus efficitur leo et laoreet. Praesent dolor justo, mattis eu
                tincidunt nec, efficitur ut arcu. Nulla eu est non dui cursus laoreet at ac ante. Ut a volutpat metus. Vivamus tempor nisi erat, non aliquet risus rhoncus ut.
                Praesent euismod justo et massa eleifend, id mattis eros convallis. Vivamus facilisis vulputate orci vitae interdum. Suspendisse congue nulla eget odio euismod, sit
                amet cursus ligula maximus.

                Fusce eget tincidunt urna, eget auctor arcu. Suspendisse rutrum lacinia lorem, quis tincidunt odio pretium tincidunt. Aliquam non est id nibh malesuada porttitor a
                elementum neque. Aliquam rhoncus orci tellus, eu malesuada mauris bibendum malesuada. In hac habitasse platea dictumst. Nam volutpat at metus in lacinia.
                Suspendisse ut eros vestibulum, dapibus mauris non, pellentesque justo. Fusce condimentum felis vel diam sollicitudin dignissim. Class aptent taciti sociosqu ad
                litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Donec tempus aliquet nibh, at porta leo semper sit amet. Vivamus sollicitudin eros
                auctor libero hendrerit, id luctus quam iaculis. Mauris quis pretium massa. Aliquam mollis congue eros, ut tincidunt odio accumsan ac.

                Maecenas nunc odio, sollicitudin eu odio vitae, blandit porta sem. Sed id lacus laoreet, sollicitudin leo id, malesuada turpis. Nulla sollicitudin, dui vitae
                bibendum molestie, arcu ante congue dolor, a egestas magna lorem sed libero. Donec et tincidunt lorem, a vulputate massa. Morbi id enim purus. Ut eget lacus
                iaculis, pellentesque sapien eget, tincidunt nulla. Curabitur iaculis molestie urna, aliquet ornare orci facilisis sit amet. Quisque id sapien feugiat, dictum diam
                eget, pellentesque magna. Sed congue justo cursus, egestas nibh nec, aliquam leo. Ut id sem lectus.

            </p>
        </div>
    </div>

    <div class="container">

    </div>

{% endblock %}
