<footer class="footer">
    <div class="container">
        <div class="row">
            <span class="footer-copyright text-center">Copyright © {{ 'now'|date('Y') }} opatou.com. All rights reserved.</span>
        </div>
    </div>
</footer>