<nav id="top-navbar" class="navbar navbar-expand-md navbar-light fixed-top"
     style="">
    <div class="container">
        <i class="pin"></i>
        <a class="navbar-brand" href="{{ path('homepage') }}">opatou.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="display:none">
                    <a class="nav-link" href="#">Timer et Pomodoro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('squaregame_home') }}">Square Game</a>
                </li>
            </ul>
        </div>
    </div>
</nav>